$soft-Cyan: hsl(174, 77%, 80%);
$strong-Cyan: hsl(174, 86%, 45%);
$light-Grayish-Red: hsl(14, 92%, 95%);
$light-Red: hsl(15, 100%, 70%);
$pale-Blue: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$very-Pale-Blue: hsl(230, 100%, 99%);
$light-Grayish-Blue: hsl(224, 65%, 95%);
$light-Grayish-Blue-toggle: hsl(223, 50%, 87%);
$grayish-Blue: hsl(225, 20%, 60%);
$dark-Desaturated-Blue: hsl(227, 35%, 25%);
